<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/yMaker/board.css">
    <!--modal -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <!-- datepicker-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <title>yMaker</title>
</head>

<body>
    <section>
        <h3>Grid그리드</h3>
    <div class="wrapper">
    <!--  -->
         <table border="1" class="table">
            <tr>
                <td>
                    <input type="text" id="id" name="id"  placeholder="아이디"/>
                    <input type="text" id="name" name="name"  placeholder="이름"/>

                    <input type="radio" id="male" name="gender" value="남" onclick="searchGender(male.value)">
                    <label for="male">남</label>
                    <input type="radio" id="female" name="gender" value="여" onclick="searchGender(female.value)" >
                    <label for="female">여</label>

                    <br>
                    <!-- 국가 -->
                        <div class="countryMultiselect">
                            <div class="countryBox" onclick="showCheckboxes('countryCheckBox')">
                                <select>
                                    <option>국가</option>
                                </select>
                                <div class="countrySelect"></div>
                            </div>
                            <div id="countryCheckBox">
                                <label for="한국">
                                    <input type="checkbox" name="checkbox" id="한국" value="한국"
                                           onclick="loadCity(this);checkOnlyOne(this);"/>한국</label>
                                <label for="일본">
                                    <input type="checkbox" name="checkbox" id="일본" value="일본"
                                           onclick="loadCity(this);checkOnlyOne(this);"/>일본</label>
                                <label for="중국">
                                    <input type="checkbox" name="checkbox" id="중국" value="중국"
                                           onclick="loadCity(this);checkOnlyOne(this);"/>중국</label>
                            </div>
                        </div>

                    <!-- 도시 -->
                        <div class="cityMultiselect">
                            <div class="cityBox" onclick="showCheckboxes('cityCheckBox')">
                                <select>
                                    <option>도시</option>
                                </select>
                                <div class="citySelect"></div>
                            </div>
                            <div id="cityCheckBox">
                            </div>
                        </div>




                  <!--  <select id="country" name="country" onchange="loadCity(this)" >
                        <option value="">국가</option>
                        <option value="한국">한국</option>
                        <option value="일본">일본</option>
                        <option value="중국">중국</option>
                    </select>

                    <select id="city" name="city" >
                        <option value="">도시</option>
                    </select> -->

                    <!-- datepicker-->
                    <input type="text" id="startDate"  autocomplete='off'/>
                    <input type="text" id="endDate" autocomplete='off'/>
                </td>
            </tr>
         </table>
    </div>

        <!-- button -->

         <div class="btn">
             <button type="submit" id="btnSearch" onclick="searchBtn()">조회</button>
             <button type="submit" id="btnAddRow" onclick="addRow()">추가</button>
             <button type="submit" id="btnSave" onclick="updateBtn()">저장</button>
             <button type="button" id="excelDownload" class="download">엑셀다운</button>
             <button type="button" id="btnDel" data-toggle="modal" data-target="#modal">삭제</button>
         </div>

        <!--modal-->
         <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
             <div class="modal-dialog" role="document">
                 <div class="modal-content">
                     <div class="modal-header">
                         <h5 class="modal-title" id="exampleModalLabel">게시물 삭제</h5>
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                         </button>
                     </div>
                     <div class="modal-body">
                         게시물을 정말 삭제하시겠습니까?
                     </div>
                     <div class="modal-footer">
                         <button type="button" class="btn btn-primary" id="delCheckBtn" onclick="deleteBtn()">삭제</button>
                         <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelBtn">취소</button>
                     </div>
                 </div>
             </div>
         </div>
     

         <!-- list -->
    <div class="data-wrapper">
         <table border="1" id="tableData">
             <thead>
             <tr>
                 <th width="30"><input type="checkbox" name="dataCheckbox" value="checkAll" onclick="checkAll(this)"></th>
                 <th width="150">아이디</th>
                 <th width="150">이름</th>
                 <th width="80">성별</th>
                 <th width="150">국가</th>
                 <th width="150">도시</th>
             </tr>
             </thead>
             <tbody id="body">
             </tbody>
         </table>
    </div>
    </section>
</body>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--modal -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>

<!--datepicker -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- Sheet JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
<!--FileSaver savaAs 이용 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>

<script>
    //searchGender
    function searchGender(e){
        var gender = e;
        var boardRequest = {
                        "id" : "",
                        "name" : "",
                        "gender" : gender,
                        "country" : "",
                        "city" : "",
                        "startDate" : "",
                        "endDate" : ""
                    };

                 $.ajax({
                    url         :   "/board/search",
                    dataType    :   "json",
                    contentType :   "application/x-www-form-urlencoded; charset=UTF-8",
                    data        :    boardRequest,
                    type        :   "post",
                    success : function(data) {
                        console.log(data);
                        $("#body").empty();
                        var tblData = data;
                        var str = "";

                        $.each(data, function(i){
                            str += "<tr>";
                            str += "<th><input type='checkbox' name='dataCheckbox'></th>";
                            str += "<th name='id'>" + tblData[i].id + "</th><th name='name'>"
                                            + tblData[i].name + "</th><th name='gender'>"
                                            + tblData[i].gender + "</th><th name='country'>"
                                            + tblData[i].country + "</th><th name='city'>"
                                            + tblData[i].city + "</th>";
                            str += "</tr>";
                        });

                        console.log(str);
                        $("#tableData").append(str);

                    },
                    error       :    function(e){
                               console.log(e.status);

                    }
                });
    }
    //list
   /* function listBtn() {
        $.ajax({
            url : "/board/list",
            type : "get",
            dataType: "json",
            success : function(data) {
                console.log(data);
                var tblData = data;
                var str = "";

                $.each(data, function(i){
                    str += "<tr>";
                    str += "<th><input type='checkbox' name="checkbox"></th>";
                    str += "<th>" + tblData[i].id + "</th><th>"
                                    + tblData[i].name + "</th><th>"
                                    + tblData[i].gender + "</th><th>"
                                    + tblData[i].country + "</th><th>"
                                    + tblData[i].city + "</th>";
                    str += "</tr>";
                });


                $("#tableData").append(str);

            },
            error : function(xhr, status, error) {
                   alert(error);
            }
        });
    }*/

    //add
    function addRow() {
                var table = document.getElementById('tableData');
                var row = table.insertRow();

                var checkBox = row.insertCell(0);
                var id = row.insertCell(1);
                var name = row.insertCell(2);
                var gender = row.insertCell(3);
                var country = row.insertCell(4);
                var city = row.insertCell(5);

                checkBox.innerHTML = "<input type='checkbox' name='checkbox'>";

                id.innerHTML= "<input type='text' id='id2' name='id'  placeholder='아이디'/>";

                name.innerHTML = "<input type='text' id='name2' name='name' placeholder='이름'/></td>";

                gender.innerHTML = "<input type='radio' id='남자' name='gender2' value='남'>"
                   +  "<label for='남자'>남</label>"
                   +  "<input type='radio' id='여자' name='gender2' value='여'>"
                   +  "<label for='여자'>여</label>";

                /*country.innerHTML = "<select id='country2' name='country' onchange='loadCity(this)'>"
                   +  "<option value=''>국가</option>"
                   +  "<option value='한국'>한국</option>"
                   +  "<option value='일본'>일본</option>"
                   +  "<option value='중국'>중국</option>"
                   +  "</select>";

                city.innerHTML = "<select id='city2' name='city'>"
                   +  "<option value=''>도시</option>"
                   +  "</select>"*/

                country.innerHTML =
                        "<form>" +
                            "<div class='addCountryMultiselect'>" +
                                "<div class='addCountryBox' onclick=\"showCheckboxes('addCountryCheckBox')\">" +
                                    "<select>" +
                                        "<option>국가</option>" +
                                "</select>" +
                                "<div class='addCountrySelect'></div>" +
                            "</div>" +
                            "<div id='addCountryCheckBox'>" +
                                "<label for='korea'>" +
                                    "<input type='checkbox' name='addCheckbox' id='korea' value='한국' " +
                                           "onclick='loadCity(this);checkOnlyOne(this);'/>한국</label>" +
                                "<label for='japan'>" +
                                    "<input type='checkbox' name='addCheckbox' id='japan' value='일본' " +
                                           "onclick='loadCity(this);checkOnlyOne(this);'/>일본</label>" +
                                "<label for='china'>" +
                                    "<input type='checkbox' name='addCheckbox' id='china' value='중국' " +
                                           "onclick='loadCity(this);checkOnlyOne(this);'/>중국</label>" +
                            "</div>" +
                        "</div>" +
                    "</form>";

                city.innerHTML =
                        "<form>" +
                        "<div class='addCityMultiselect'>" +
                            "<div class='addCityBox' id='addCityBox' onclick=\"showCheckboxes('addCityCheckBox')\">" +
                                "<select>" +
                                    "<option>도시</option>" +
                                "</select>" +
                                "<div class='addCitySelect'></div>" +
                            "</div>" +
                            "<div id='addCityCheckBox'>" +
                            "</div>" +
                        "</div>" +
                    "</form>"


    }

   /* //combo box
    function loadCity(e) {

        let korea=["서울","부산","대전","대구"];
        let japan=["도쿄","오사카","후쿠오카","교토"];
        let china=["상하이","광저우","산시성","베이징"];

        if(e.id == "country"){
        var target = document.getElementById("city");
        }else{
        var target = document.getElementById("city2");
        }

        if(e.value == "한국") var d = korea;
        else if(e.value == "일본") var d = japan;
        else if(e.value == "중국") var d = china;

        target.options.length = 0;

        for(x in d) {
            let opt = document.createElement("option");
            opt.value = d[x];
            opt.innerHTML = d[x];
            target.appendChild(opt);
        }
    }*/

    //combo box
    function loadCity(e) {

        let korea=["서울","부산","대전","대구"];
        let japan=["도쿄","오사카","후쿠오카","교토"];
        let china=["상하이","광저우","산시성","베이징"];

        var name = "";
        if(e.name == "checkbox"){
            var target = $("#cityCheckBox");
            name = "dynamicCheckBox";
        }else if(e.name == "addCheckbox"){
            var target = $("#addCityCheckBox");
            name = "addDynamicCheckBox";
        }

        if(e.value == "한국") var d = korea;
        else if(e.value == "일본") var d = japan;
        else if(e.value == "중국") var d = china;

        var str = "";
        target.empty();
        str = "<label for='전체'>" +
                   "<input type='checkbox' name='" + name + "' id='all' " +
                                           "value='checkAll' onclick='checkAll(this)'/>전체</label>"


        $.each(d, function(i){
            console.log(d);
                str += "<label for='" + d[i] + "'>";
                str += "<input type='checkbox' name='" + name + "' id='" + d[i] + "'"
                        + " value='" + d[i] + "'/>"
                        + d[i] + "</label>";
        });

            console.log(str);
            target.append(str);
    }

    //국가 , 나라
    var expanded = false;

    function showCheckboxes(e) {
           var checkboxes = document.getElementById(e);

          if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
          } else {
            checkboxes.style.display = "none";
            expanded = false;
          }
    }

    //체크박스
    function checkAll(checkAll) {
        //getElementById는 id 속성값 하나를 가진 객체를 불러 오는것이고
        //getElementsByName은 name이 중복이 가능해 여러개의 값을 배열의 형태로 가져오게 된다고 함
        var name = checkAll.name
        const checkBoxes = document.getElementsByName(name);


        checkBoxes.forEach((checkbox) => {
            checkbox.checked = checkAll.checked;
        })
    }
    //체크 하나만
    function checkOnlyOne(e) {

        const checkboxes
          = document.getElementsByName(e.name);

        checkboxes.forEach((cb) => {
            cb.checked = false;
        })

        e.checked = true;
    }

    //delete 요청을 해서 boardNo을 리스트 형태로 보내서 삭제 하고 싶음
    //$("#delBtn").click(function(){
    function deleteBtn() {
        var arr = []

        var checkbox = $('input[name="checkbox"]:checked');
        checkbox.each(function(i){//체크된 리스트 저장
                var tr = checkbox.parent().parent().eq(i);
				var td = tr.children();
				var no = td.eq(1).text()
                arr.push(no);
            });

        if(arr.length === 0){
            alert("삭제할 항목을 선택해 주세요");
            modalHide();
            return;
        }else{
            var objParams = {
                "list" : arr
            };
                console.log(objParams);
            $.ajax({
                    url         :   "/board/delete",
                    dataType    :   "json",
                    contentType :   "application/x-www-form-urlencoded; charset=UTF-8",
                    type        :   "post",
                    traditional :    true,
                    data        :   objParams ,
                    success     :   function(retVal){
                           console.log(retVal.code);
                           alert(retVal.message);
                           location.reload();
                    },
                    error       :   function(e){
                        console.log(e.status);
                    }
                });
            }
        }
        //});

        //모달 닫기
        function modalHide() {
            $("#modal").hide();
            $('.modal-backdrop').hide();
        }

        //조회
        function searchBtn(){
                var id = $('#id').val();
                var name = $('#name').val();
                var gender = $('input[name="gender2"]:checked').val();
                var country = $('input[name="checkbox"]:checked').val();
                console.log(country);

                var str = ""
                var cityCheck = $('input[name="dynamicCheckBox"]:checked');
                cityCheck.each(function(i){
                    if(str == ""){
                       if( $(this).val() == "checkAll"){
                                str = "";
                            }else{
                                str = $(this).val();
                          }
                    }else{
                      str += ", " + $(this).val();
                    }
                });
                var city = str;
                console.log(city);

                var startDate = $('#startDate').val();
                var endDate = $('#endDate').val();

                var boardRequest = {
                        "id" : id,
                        "name" : name,
                        "gender" : gender,
                        "country" : country,
                        "city" : city,
                        "startDate" : startDate,
                        "endDate" : endDate
                    };

                 $.ajax({
                    url         :   "/board/search",
                    dataType    :   "json",
                    contentType :   "application/x-www-form-urlencoded; charset=UTF-8",
                    data        :    boardRequest,
                    type        :   "post",
                    success : function(data) {
                        console.log(data);
                        $("#body").empty();
                        var tblData = data;
                        var str = "";

                        $.each(data, function(i){
                            if(tblData[i].gender == "남"){
                                str += "<tr style='background-color:#CEE3F6;'>";
                            }else {
                                str += "<tr style='background-color:#F7F8E0;'>";
                            }

                            str += "<th><input type='checkbox' name='checkbox'></th>";
                            str += "<th name='id'>" + tblData[i].id + "</th><th name='name'>"
                                            + tblData[i].name + "</th><th name='gender'>"
                                            + tblData[i].gender + "</th><th name='country'>"
                                            + tblData[i].country + "</th><th name='city'>"
                                            + tblData[i].city + "</th>";
                            str += "</tr>";
                        });

                        console.log(str);
                        $("#tableData").append(str);

                    },
                    error       :    function(e){
                               console.log(e.status);

                    }
                });
        }

        //저장
       function updateBtn() {
                    if($('#id2').val() ==""){alert("다 기입하세요"); return;}
                    var id = $('#id2').val();

                    if($('#name2').val() ==""){ alert("다 기입하세요"); return;}
                    var name = $('#name2').val();

                    if($('input[name="gender2"]:checked').val() == undefined){ alert("다 기입하세요"); return;}
                    var gender = $('input[name="gender2"]:checked').val();

                    if($('input[name="addCheckbox"]:checked').val() ==""){ alert("다 기입하세요"); return;}
                    var country =  $('input[name="addCheckbox"]:checked').val();

                    var str = "";
                    var cityCheck = $('input[name="addDynamicCheckBox"]:checked');
                    cityCheck.each(function(i){
                        if(str == ""){
                            if( $(this).val() == "checkAll"){
                                str = "";
                            }else{
                                str = $(this).val();
                          }
                        }else{
                          str += ", " + $(this).val();
                        }
                    });
                    if(str == ""){ alert("다 기입하세요"); return;}
                    var city = str;

                    var boardRequest = {
                        "id" : id,
                        "name" : name,
                        "gender" : gender,
                        "country" : country,
                        "city" : city
                    };

                 $.ajax({
                    url         :   "/board/save",
                    dataType    :   "json",
                    contentType :   "application/x-www-form-urlencoded; charset=UTF-8",
                    data        :    boardRequest,
                    type        :   "post",
                    success     :    function(retVal){
                                alert(retVal.message);
                                console.log(retVal.status);
                                location.reload();
                    },
                    error       :    function(e){
                               console.log(e.status);
                               alert("아이디 중복 입니다");
                    }
                });
           }


       //수정
        var openWin;
        var id;
        var name;
        var gender;
        var country;
        var city;
    $("#tableData tbody").on('dblclick','tr',function(){

        var title = "pop";
        openWin = window.open("modify",title, "width=570, height=350, resizable = no, scrollbars = no");

        var tr = $(this);
        var td = tr.children();

        id = td.eq(1).text();
        name = td.eq(2).text();
        gender = td.eq(3).text();
        country = td.eq(4).text();
        city = td.eq(5).text();

        console.log(city);
    });

       //datepicker
       $(document).ready(function () {
            $("#startDate").datepicker({
                dateFormat: "yy-mm-dd", // 날짜의 형식
                minDate: 0,
                nextText: ">",
                prevText: "<",
                onSelect: function (date) {
                    var endDate = $('#endDate');
                    var startDate = $(this).datepicker('getDate');
                    var minDate = $(this).datepicker('getDate');
                    endDate.datepicker('setDate', minDate);
                    startDate.setDate(startDate.getDate() + 30);
                    endDate.datepicker('option', 'maxDate', startDate);
                    endDate.datepicker('option', 'minDate', minDate);
                }
            });
            $('#endDate').datepicker({
                dateFormat: "yy-mm-dd", // 날짜의 형식
                nextText: ">",
                prevText: "<"
            });
        });

        //excel
        const excelDownload = document.querySelector('#excelDownload');

        document.addEventListener('DOMContentLoaded', ()=>{
            excelDownload.addEventListener('click', exportExcel);
        });

        function exportExcel(){
              // step 1. workbook 생성
              var wb = XLSX.utils.book_new();

              // step 2. 시트 만들기
              var newWorksheet = excelHandler.getWorksheet();

              // step 3. workbook에 새로만든 워크시트에 이름을 주고 붙인다.
              XLSX.utils.book_append_sheet(wb, newWorksheet, excelHandler.getSheetName());

              // step 4. 엑셀 파일 만들기
              var wbout = XLSX.write(wb, {bookType:'xlsx',  type: 'binary'});

              // step 5. 엑셀 파일 내보내기
              saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), excelHandler.getExcelFileName());
            }

            var excelHandler = {
                getExcelFileName : function(){
                    return 'table-test.xlsx';	//파일명
                },
                getSheetName : function(){
                    return 'Table Test Sheet';	//시트명
                },
                getExcelData : function(){
                    return document.getElementById('tableData'); 	//TABLE id
                },
                getWorksheet : function(){
                    return XLSX.utils.table_to_sheet(this.getExcelData());
                }
            }

            function s2ab(s) {
              var buf = new ArrayBuffer(s.length); //convert s to arrayBuffer
              var view = new Uint8Array(buf);  //create uint8array as viewer
              for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF; //convert to octet
              return buf;
            }
</script>
</html>